<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ language }}">
  <head>
    <title>{{ title }}</title>
    <base href="{{ base }}">
  </head>
  <body>
    <div style="text-align: center;">
      <h1>{{ heading_title }}</h1>
      <p>{{ text_response }}</p>
      <div style="border: 1px solid #DDDDDD; margin-bottom: 20px; width: 350px; margin-left: auto; margin-right: auto;">
      </div>
      <p><b>{{ text_failure }}</b></p>
      <p>{{ text_failure_wait }}</p>
    </div>
    <script type="text/javascript"><!--
      setTimeout('location = \'{{ continue }}\';', {{ timeout }});
    //--></script>
  </body>
</html>